{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}
<body>

<!-- start: Header -->
<div id="header">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 logo">
				<a href="{$mainpage}"><img src="{$tpl_path}img/logo.png" alt="{$smarty.const.STORE_NAME}" title="{$smarty.const.STORE_NAME}" /></a>
			</div>
			<div class="span6 text-center" itemscope itemtype="http://schema.org/Organization">
				  <span itemprop="name">{$smarty.const.STORE_NAME}</span>
				  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				    {$smarty.const.STORE_NAME_ADDRESS}
				  </div>
           <h4><a href="tel:{$smarty.const.STORE_TELEPHONE}"><i class="fa fa-phone"></i> <span itemprop="telephone">{$smarty.const.STORE_TELEPHONE}</span></a>, <a href="contact_us.html"><i class="fa fa-pencil"></i> {#text_contact_us#}</a></h4>
			</div>
			<div class="span3 right text-right">
			<ul class="inline">
           {if $smarty.session.customers_status.customers_status_id == 0}
           <li><a href="{$admin_area_link}"><i class="fa fa-cog"></i> {#text_admin#}</a></li> 
           {/if}  
           {if $smarty.session.customer_id}
           <li><a href="{$logoff}"><i class="fa fa-power-off"></i> {#link_logoff#}</a></li>
           {/if}  
         </ul>
			</div>
		</div>
	</div>
</div>
<!-- end: Header -->

<!-- start: Main Menu -->
<div id="navigation" class="default">
	<div class="container-fluid">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
				      <button type="button" class="btn btn-navbar navbar-toggle toggle-menu menu-left" data-toggle="collapse" data-target=".navbar-responsive-collapse" aria-label="navbar">
				        <span class="sr-only"></span>                
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
					     <a class="brand" href="{$smarty.const.FILENAME_DEFAULT}" aria-label="home">
					         <i class="fa fa-home"></i>
					     </a>                  
					     <div class="nav-collapse collapse navbar-responsive-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
                    <ul class="nav">
							{$box_CATEGORIES2}
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="">{#heading_infobox#} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									{$box_CONTENT_PULL}
								</ul>
							</li>
                    </ul>
                    {$box_SEARCH}
                    <ul class="nav pull-right">
                      <li><a href="{$smarty.const.FILENAME_LOGIN}"><i class="fa fa-user"></i> {$smarty.const.TEXT_MY_ORDERS}</a></li>
                      {if !$wishlist_current}
                      {if $smarty.const.ENABLE_WISHLIST == 'true'}
                      <li class="dropdown" id="divWishlist">
                      {$box_WISHLIST}
                      </li>
                      {/if}
                      {/if}
                      {if !$cart_current}<li class="dropdown" id="divShoppingCart">{$box_CART}</li>{/if}
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
	</div>
</div>
<!-- end: Main Menu -->

<!-- start: Container -->
<div id="container">

	<div class="container">

{if $navtrail && !{$smarty.get.manufacturers_id}}
<!-- start: Page header / Breadcrumbs -->
<div id="breadcrumbs">
		<div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			{$navtrail}
		</div>
</div>
<!-- end: Page header / Breadcrumbs -->
{/if}

{if {$slider_pop_slide|@count} > 1} 
{if $smarty.SERVER.REQUEST_URI == '/'}


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
{foreach item=num from=$slider_pop_slide}
    <li data-target="#myCarousel" data-slide-to="{counter name=slide}"{if $num@first} class="active"{/if}></li>
{/foreach}

  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">

{foreach item=slides from=$slider_pop_slide}
    <div class="{if $slides@first}active {/if}item"><a href="{$slides.url}"><img src="images/banner/{$slides.image}" alt="{$slides.title}" title="{$slides.title}" /></a></div>
{/foreach}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

{/if}
{/if}

{if $box_FILTERS && {$smarty.get.cat}}
<div class="row">
<div class="span3">


<div class="visible-phone">

  <button class="btn btn-outline-primary rounded-pill d-xl-none mb-2 visible-desktop visible-phone" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-filter"></i> {#text_product_filters#}
  </button>
  
  <br />
  
  <div class="collapse" id="collapseExample">
    <div class="well">
      {$box_FILTERS}
    </div>
  </div>
</div>

<div class="hidden-phone">
      {$box_FILTERS}
</div>      

</div>
<div class="span9">
{/if}

			<!-- start: Page section -->
			<div class="page-sidebar">
	
			{$main_content}

			</div>
			<!-- end: Page section -->

{if $box_FILTERS && {$smarty.get.cat}}
</div>
</div>
{/if}

	</div>
</div>
<!-- end: Container -->

<!-- start: Footer -->
<footer id="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 clearfix">
				<h3 class="widget-title">{#heading_infobox#}</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{$box_CONTENT_PULL}
					</ul>

				</div>
			</div>
			<div class="span3 clearfix">
				<h3 class="widget-title">{#heading_news#}</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{$box_LATESTNEWS_DROPDOWN}
					</ul>

				</div>
			</div>

			<div class="span6 clearfix">
				<h3 class="widget-title">{#heading_articles_new#}</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{$box_ARTICLESNEW_DROPDOWN}
					</ul>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end: Footer -->

<!-- start: Footer menu -->
<div id="footer-menu">

	{if $BANNER}<div class="text-center">{$BANNER}<br /><br /></div>{/if}

	<div class="text-center">
	<a href="vam_rss2_info.php"><img src="images/rss.png" alt="RSS" /></a>
	</div>

</div>
<!-- end: Footer menu -->

{if $smarty.const.ENABLE_COOKIE_ALERT == 'true' && {cookie name="cookie-alert"} != 1}
<div class="alert alert-info alert-dismissible fade show cookie-alert" id="cookie-alert" role="alert">
  {$smarty.const.TEXT_ALERT_COOKIE}
  <button type="button" class="btn btn-inverse btn-sm cookie-close" data-dismiss="alert" aria-label="{$smarty.const.TEXT_COOKIE_CLOSE}">{$smarty.const.TEXT_COOKIE_OK}</button>
</div>
{/if}
