	<div class="card card-product h-100">
      <div class="card-body">
		{if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}
		{if $module_data.PRODUCTS_SPECIAL > 0}<span class="badge-offer"><b>-{$module_data.PRODUCTS_SPECIAL|round}%</b></span>{/if}
		<div class="img-wrap"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}"><img {if $smarty.const.ENABLE_LAZY_LOAD == 'true'}loading="lazy" src="{$module_data.PRODUCTS_IMAGE}"{else}src="{$module_data.PRODUCTS_IMAGE}"{/if} {if {$module_data.PRODUCTS_IMAGE_WIDTH} > 0} width="{$module_data.PRODUCTS_IMAGE_WIDTH}"{/if} {if {$module_data.PRODUCTS_IMAGE_HEIGHT} > 0} height="{$module_data.PRODUCTS_IMAGE_HEIGHT}"{/if} alt="{$module_data.PRODUCTS_NAME}"></a></div>
		<div class="info-wrap text-center">
				<div class="title"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME}</a></div>
				{if $module_data.PRODUCTS_PRICE_PLAIN > 0}
				<div class="price-wrap font-weight-bold small text-muted">
					{$module_data.PRODUCTS_PRICE}
				</div>
				{/if}
				{if $module_data.PRODUCTS_BONUS}<div class="bonus"><span class="small">{$smarty.const.TEXT_CASHBACK}</span> <span class="bonus cashback">{$module_data.PRODUCTS_BONUS}</span></div>{/if}
				<p class="desc">{$module_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags|vam_truncate:120:"...":true}</p>
				{if $module_data.REVIEWS_TOTAL > 0}
				<div class="rating-wrap small">
					{$module_data.REVIEWS_STAR_RATING} <span class="text-muted pr-2" data-toggle="tooltip" title="{$smarty.const.TEXT_REVIEWS_RATING}">{$module_data.REVIEWS_TOTAL_RATING|number_format:1}</span>
					<div class="label-rating"><span class="text-muted"><i class="far fa-comments"></i> {$smarty.const.TEXT_TOTAL_REVIEWS}: {$module_data.REVIEWS_TOTAL}</span></div>
				</div>
				{/if}
		</div>
		<div class="bottom-wrap">
				{if $module_data.PRODUCTS_PRICE_PLAIN > 0}
				<div class="buy-button text-center">
					{$module_data.PRODUCTS_BUTTON_BUY_NOW_NEW}
				</div>
				{/if}
		</div>
      </div>
	</div>