  <div class="card card-product h-100" itemprop="review" itemscope itemtype="http://schema.org/Review">
	<div class="card-body">
	<div class="row">
		{if $module_data.PRODUCT.PRODUCTS_LABEL}{$module_data.PRODUCT.PRODUCTS_LABEL}{/if}
		{if $module_data.PRODUCT.PRODUCTS_SPECIAL > 0}<span class="badge-offer"><b>-{$module_data.PRODUCT.PRODUCTS_SPECIAL|round}%</b></span>{/if}
		<div class="col-md-3">
			<div class="img-wrap"><a href="{$module_data.PRODUCT.PRODUCTS_LINK}"><img {if $smarty.const.ENABLE_LAZY_LOAD == 'true'}loading="lazy" src="{$module_data.PRODUCT.PRODUCTS_IMAGE}"{else}src="{$module_data.PRODUCT.PRODUCTS_IMAGE}"{/if} {if {$module_data.PRODUCT.PRODUCTS_IMAGE_WIDTH} > 0} width="{$module_data.PRODUCT.PRODUCTS_IMAGE_WIDTH}"{/if} {if {$module_data.PRODUCT.PRODUCTS_IMAGE_HEIGHT} > 0} height="{$module_data.PRODUCT.PRODUCTS_IMAGE_HEIGHT}"{/if} alt="{$module_data.PRODUCT.PRODUCTS_NAME}"></a></div>
		</div>
		<div class="col-md-6">
			
				<div class="title" itemprop="itemReviewed"><a href="{$module_data.PRODUCT.PRODUCTS_LINK}">{$module_data.PRODUCT.PRODUCTS_NAME}</a></div>
				{if $module_data.PRODUCT.REVIEWS_TOTAL > 0}
				<div class="rating-wrap small">
					<div class="label-rating"><span class="bold">{#text_rating#}</span> <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><span itemprop="ratingValue" content="{$module_data.REVIEW.RATING}">{$module_data.REVIEW.STAR_RATING}</span></span></div>
					<div class="label-rating"><span class="bold">{#text_date#}</span> <span content="{$module_data.REVIEW.DATE|date_format:"%Y-%m-%d"}" itemprop="datePublished">{$module_data.REVIEW.DATE}</span></div>
					<div class="desc"><span class="bold">{#text_author#}</span> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{if $module_data.REVIEW.AUTHOR}{$module_data.REVIEW.AUTHOR}{else}{$smarty.const.TEXT_GUEST}{/if}</span></span></div>
					{if $module_data.REVIEW.CUSTOMER}<div class="desc"><span class="btn btn-rounded btn-sm"><i class="fas fa-user-check"></i> {$smarty.const.TEXT_BADGE_CUSTOMER}</span></div>{/if}
				</div>
				{/if}
				{if {$module_data.REVIEW.TEXT}}
				<span class="font-weight-bold text-secondary">{$smarty.const.TEXT_CUSTOMER_REVIEW}</span>
				<div class="desc" itemprop="reviewBody">
				{$module_data.REVIEW.TEXT|strip_tags}
				</div>
				<br />
				{/if}
				{if {$module_data.REVIEW.REVIEWS_IMAGES}}
				<div class="owl-carousel owl-theme">
				{foreach name=aussen item=reviews_images from=$module_data.REVIEW.REVIEWS_IMAGES}
				<div class="card card-product card-sm h-100">
					<div class="card-body">
					{if {$reviews_images.IMAGE} != ''}
					<div class="img-wrap">
					<a class="lightbox" href="{$smarty.const.DIR_WS_CATALOG}{$smarty.const.DIR_WS_IMAGES}reviews/{$reviews_images.IMAGE}" title="{$PRODUCTS_NAME}"><img {if $smarty.const.ENABLE_LAZY_LOAD == 'true'}loading="lazy" src="{$smarty.const.DIR_WS_CATALOG}{$smarty.const.DIR_WS_IMAGES}reviews/{$reviews_images.IMAGE}"{else}src="{$reviews_images.IMAGE}"{/if} height="150" alt="{$PRODUCTS_NAME}"></a>
					</div>
					{/if}
					</div>
				</div>
				{/foreach}
				</div>
				{/if}
            {if {$module_data.REVIEW.ANSWER} != ''}
            <span class="font-weight-bold text-primary">{$smarty.const.TEXT_STORE_ANSWER}</span>
            <div class="desc" itemprop="reviewBody">
            {$module_data.REVIEW.ANSWER}
            </div>
            <br />
            {/if}
            {if $smarty.server.SCRIPT_NAME != '/product_reviews_info.php'}
				<div class="desc">
				<a class="btn btn-rounded" href="{$module_data.REVIEW.REVIEWS_LINK}"><i class="far fa-comment"></i> {#text_read#} {$module_data.PRODUCT.PRODUCTS_NAME}</a>
				</div>
				{/if}

            {if $smarty.server.SCRIPT_NAME != '/product_reviews.php'}
				<div class="desc py-2">
				<a class="btn btn-rounded" href="{$module_data.REVIEW.REVIEWS_ALL_LINK}"><i class="far fa-comments"></i> {#text_all#} {$module_data.PRODUCT.PRODUCTS_NAME}</a>
				</div>
				{/if}

		</div>
		<div class="col-md-3 my-auto text-center my-auto">
			<div class="action-wrap">
				{if $module_data.PRODUCT.PRODUCTS_PRICE_PLAIN > 0}
				<div class="price-wrap font-weight-bold small text-muted">
					{$module_data.PRODUCT.PRODUCTS_PRICE}
				</div>
				{if $module_data.PRODUCTS_BONUS}<div class="bonus"><span class="small">{$smarty.const.TEXT_CASHBACK}</span> <span class="bonus cashback">{$module_data.PRODUCTS_BONUS}</span></div>{/if}
				{/if}
				{if $module_data.PRODUCTS_PRICE_PLAIN > 0 or $module_data.PRODUCT.PRODUCTS_PRICE_PLAIN > 0}
				<div>
					{$module_data.PRODUCT.PRODUCTS_BUTTON_BUY_NOW_NEW}
				</div>
				{/if}
			</div>
		</div>
	</div>
	</div>
</div>
