  <form id="cart_quantity{$module_data.PRODUCTS_ID}" class="justify-content-center h-100" action="{$module_data.PRODUCTS_LINK}/products_id/{$module_data.PRODUCTS_ID}/action/add_product" method="post" {if $smarty.const.AJAX_CART == 'true'}onsubmit="doAddProduct({$module_data.PRODUCTS_ID}); return false;"{/if}>
  <div class="card card-product h-100">
	<div class="card-body">
	<div class="row">
		{if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}
		{if $module_data.PRODUCTS_SPECIAL > 0}<span class="badge-offer"><b>-{$module_data.PRODUCTS_SPECIAL|round}%</b></span>{/if}
		<div class="col-md-3">
			<div class="img-wrap"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}"><img {if $smarty.const.ENABLE_LAZY_LOAD == 'true'}loading="lazy" src="{$module_data.PRODUCTS_IMAGE}"{else}src="{$module_data.PRODUCTS_IMAGE}"{/if} {if {$module_data.PRODUCTS_IMAGE_WIDTH} > 0} width="{$module_data.PRODUCTS_IMAGE_WIDTH}"{/if} {if {$module_data.PRODUCTS_IMAGE_HEIGHT} > 0} height="{$module_data.PRODUCTS_IMAGE_HEIGHT}"{/if} alt="{$module_data.PRODUCTS_NAME}"></a></div>
		</div>
		<div class="col-md-6">
				<div class="title"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME}</a></div>
				<div class="icons-block">
				{if $module_data.REVIEWS_TOTAL > 0}
					<a href="{$smarty.const.FILENAME_PRODUCT_REVIEWS}?products_id={$module_data.PRODUCTS_ID}" data-toggle="tooltip" title="{$smarty.const.TEXT_REVIEWS_RATING}"><span class="text-muted pr-2">{$module_data.REVIEWS_STAR_RATING}{$module_data.REVIEWS_TOTAL_RATING|number_format:1}</span></a>
					<div class="label-rating"><a href="{$smarty.const.FILENAME_PRODUCT_REVIEWS}?products_id={$module_data.PRODUCTS_ID}" data-toggle="tooltip" title="{$smarty.const.TEXT_TOTAL_REVIEWS}"><span class="text-muted"><i class="far fa-comments"></i> {$module_data.REVIEWS_TOTAL}</span></a></div>
				{/if}
				{if $smarty.const.ENABLE_WISHLIST == 'true'}
					<span class="wishlist-button text-muted">{$module_data.PRODUCTS_BUTTON_WISHLIST}</span>
				{/if}	
				{if $smarty.const.SPECIFICATIONS_BOX_COMPARISON == 'True'}
				<span class="pl-2 compare-button text-muted compare-listing" onclick="SendCompare('{$module_data.PRODUCTS_ID}', 'product_listing')" id="compare_product_content_{$module_data.PRODUCTS_ID}">
				{if $module_data.COMPARE_COOKIE == 'true'}
				<i class="far fa-chart-bar active text-danger" title="{$smarty.const.TEXT_COMPARE_DELETE}"></i>
				{else}
				<i class="far fa-chart-bar" title="{$smarty.const.TEXT_COMPARE_ADD}"></i>
				{/if}
				</span>
				<input type="hidden" name="compare_cookie_{$module_data.PRODUCTS_ID}" id="compare_cookie_{$module_data.PRODUCTS_ID}"  value="{$module_data.COMPARE_COOKIE}" />
				<input type="hidden" name="compare_product_{$module_data.PRODUCTS_ID}" id="compare_product_{$module_data.PRODUCTS_ID}"  value="{$module_data.PRODUCTS_ID}" />
				{/if}	
				</div>
				{if {$module_data.PRODUCTS_SHORT_DESCRIPTION}}<div class="small">{$module_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags|vam_truncate:{$smarty.const.MAX_DISPLAY_SHORT_DESCRIPTION}:"...":true}</div>{/if}
				{assign var=options value=$module_data.attrib}
				<div class="product-listing-attributes">
				{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}module/product_options/multi_options.html"}
				</div>
				{if $module_data.EXTRA_FIELDS}
				<div class="description extra_fields text-muted">
				{foreach item=extra_fields from=$module_data.EXTRA_FIELDS}
				{if $extra_fields@iteration > 5}{break}{/if} 
				<div class="{cycle values="spec-odd,spec-even"}">
				<span class="spec-name">{$extra_fields.NAME}:</span> <span class="spec-value font-weight-bold">{$extra_fields.VALUE}</span><br />
				</div>
				{/foreach}
				</div>
				{/if}
				{if $module_data.SPECS}
				<div class="description specs text-muted">
				<!-- Specifications -->
				{foreach name=outer item=spec_group from=$module_data.SPECS}
				<br />
				{foreach key=key_data item=spec from=$spec_group.DATA}
				{if $spec@iteration > 5}{break}{/if} 
				<div class="{cycle values="spec-odd,spec-even"}">
				<span class="spec-name">{$spec.NAME}:</span> <span class="spec-value font-weight-bold">{$spec.VALUE}</span><br />
				</div>
				{/foreach}
				{/foreach}
				<br />
				</div>
				{/if}
		</div>
		<div class="col-md-3 mt-auto">
			<div class="action-wrap text-center">
	      {if $module_data.PRODUCTS_PRICE_PLAIN > 0}
	      <div class="action-wrap text-left">
				<div class="d-flex">
				<div class="flex-fill pr-1 my-auto text-left">
	         <div class="justify-content-center">
	         <input name="products_qty" type="hidden" value="1" class="form-control text-center">
					{if $module_data.PRODUCTS_PRICE_PLAIN > 0}
					<div class="price-wrap font-weight-bold small text-muted">
						{$module_data.PRODUCTS_PRICE}
					</div>
					{if $module_data.PRODUCTS_BONUS}<div class="bonus"><span class="small">{$smarty.const.TEXT_CASHBACK}</span> <span class="bonus cashback">{$module_data.PRODUCTS_BONUS}</span></div>{/if}
					{/if}
	         </div>
	         </div>
				<div class="text-right mt-auto">
	         <input type="hidden" name="products_id" value="{$module_data.PRODUCTS_ID}" />
				<button class="cart-link-{$module_data.PRODUCTS_ID} btn btn-inverse checkout btn-block{if $smarty.session.cart->in_cart({$module_data.PRODUCTS_ID}) == 1} active{/if}" data-toggle="tooltip" title="{if $smarty.session.cart->in_cart({$module_data.PRODUCTS_ID}) == 1}{$smarty.const.IMAGE_BUTTON_IN_CART_IN}{else}{$smarty.const.IMAGE_BUTTON_IN_CART}{/if}" aria-label="{if $smarty.session.cart->in_cart({$module_data.PRODUCTS_ID}) == 1}{$smarty.const.IMAGE_BUTTON_IN_CART_IN}{else}{$smarty.const.IMAGE_BUTTON_IN_CART}{/if}"><i class="cart-icon-{$module_data.PRODUCTS_ID} {if $smarty.session.cart->in_cart({$module_data.PRODUCTS_ID}) == 1}text-danger fas fa-cart-plus{else}fas fa-shopping-cart{/if}"></i></button>
	         </div>
				</div>
	      </div>
	      {/if}
			</div>
		</div>
	</div>
	</div>
</div>
</form>