  <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
    <div class="card product-card card-static">
      {if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}
      {if $smarty.const.ENABLE_WISHLIST == 'true'}
        <span class="wishlist-button btn-sm text-muted px-2 py-1">{$module_data.PRODUCTS_BUTTON_WISHLIST}</span>
      {/if}	
      <a class="card-img-top d-block overflow-hidden text-center" href="{$module_data.PRODUCTS_LINK}"><img loading="lazy" src="{$module_data.PRODUCTS_IMAGE}" {if {$module_data.PRODUCTS_IMAGE_WIDTH} > 0} width="{$module_data.PRODUCTS_IMAGE_WIDTH}"{/if} {if {$module_data.PRODUCTS_IMAGE_HEIGHT} > 0} height="{$module_data.PRODUCTS_IMAGE_HEIGHT}"{/if} alt="{$module_data.PRODUCTS_NAME}"></a>
      <div class="card-body py-2">
        {if $module_data.PRODUCTS_CATEGORY_NAME != ''}<a class="product-meta d-block fs-xs pb-1" href="{$module_data.PRODUCTS_CATEGORY_URL}">{$module_data.PRODUCTS_CATEGORY_NAME}</a>{/if}
        <h3 class="product-title fs-sm"><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h3>
        <div class="d-flex justify-content-between">
          {if $module_data.PRODUCTS_PRICE_PLAIN > 0}<div class="product-price">{$module_data.PRODUCTS_PRICE}</div>{/if}
          {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/product-card/vamshop5-product-rating-one-star.html"}
        </div>
        {if $module_data.PRODUCTS_BONUS}<div class="bonus"><span class="small">{$smarty.const.TEXT_CASHBACK}</span> <span class="bonus cashback">{$module_data.PRODUCTS_BONUS}</span></div>{/if}
      </div>
    </div>
  </div>