{config_load file="$language/lang_$language.conf" section="latest_news"} <div class="page">
<div class="pageItem">

<!-- start: products listing -->
<div class="row-fluid shop-products">
	<ul class="thumbnails">
		{foreach name=aussen item=module_data from=$module_content}
		<li class="item span3{if $smarty.foreach.aussen.index % 4 == 0} first{/if}">
			<div class="thumbnail text-center">
			{if $module_data.NEWS_ICON}
				<a href="{$module_data.NEWS_LINK_MORE}" class="image"><span class="frame-overlay"></span><img height="85" src="{$module_data.NEWS_ICON}" class="img-responsive" alt="{$module_data.NEWS_HEADING|htmlentities|strip_tags}" aria-label="{$module_data.NEWS_HEADING|htmlentities|strip_tags}" /></a>
				<br />
			{/if}
			<div class="inner notop nobottom text-center">
				<h4 class="title"><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></h4>
				<div class="description">
				{$module_data.NEWS_CONTENT|vam_truncate:{$smart.const.MAX_DISPLAY_LATEST_NEWS_CONTENT}:" ..."}
				</div>
			</div>
			</div>
			<div class="inner darken notopform-inline">
			<div class="navigation-button">
         <span class="right">{$module_data.NEWS_DATA}</span>
         <a class="btn btn-add-to-cart" href="{$module_data.NEWS_LINK_MORE}"><i class="fa fa-newspaper"></i> {$smarty.const.TEXT_READ_MORE_UP}</a>
         </div>
			</div>
		</li>
		{/foreach}
	</ul>
</div>  
<!-- end: products listing -->  

<div class="clear"></div>

<div class="text-right">
<a class="btn-outline-primary" href="{$NEWS_LINK}"><span>{$smarty.const.TEXT_ALL_NEWS}</span></a>
</div>
</div>

</div>