{config_load file="$language/lang_$language.conf" section="reviews"}
<script type="text/javascript">
{literal}
$(function($){

    $('.form-anti-bot, .form-anti-bot-2').hide(); // hide inputs from users
    var answer = $('.form-anti-bot input#anti-bot-a').val(); // get answer
    $('.form-anti-bot input#anti-bot-q').val( answer ); // set answer into other input

    if ( $('form#product_reviews_write input#anti-bot-q').length == 0 ) {
        var current_date = new Date();
        var current_year = current_date.getFullYear();
        $('form#product_reviews_write').append('<input type="hidden" name="anti-bot-q" id="anti-bot-q" value="'+current_year+'" />'); // add whole input with answer via javascript to form
    }

});
{/literal}
</script>
<h1>{#heading_site_reviews_write#}</h1>
{if $captcha_error}
<div class="contacterror">{$captcha_error}</div>
{/if}
{if $error}
<div class="contacterror">{$error}</div>
{else}
{$FORM_ACTION}
<div class="page">
<div class="pagecontent">

<br />
<span class="bold">{#text_author#}</span> {$AUTHOR}
<br />
<br />
<script type="text/javascript">
{literal}
src="captcha.php";
function reload(){
        document.captcha.src='loading.gif';
        document.captcha.src=src+'?rand='+Math.random();
}
{/literal}
</script>
<!-- форма -->
<fieldset class="form">
<legend>{#text_input#}</legend>
	<p>{#text_input#} {$INPUT_TEXT}</p>
	<p>{#text_note#}</p>
   <div class="form-group">
     <label for="rating">{#text_rating#}</label>
     <br />
     <div class="form-check form-check-inline rating-block"><fieldset class="star-rating" id="starrating">{$INPUT_RATING}</fieldset></div>
   </div>
   <p>{#text_sec_code#} {$CAPTCHA_IMG} <a href="javascript:void(0)" title="{#text_update#}" onclick="reload()">{#text_update#}</a></p>
   <p>{#text_sec_code_text#} {$CAPTCHA_INPUT}</p>
</fieldset>
<div class="form-anti-bot" style="clear:both;">
	<strong>Current <span style="display:none;">month</span> <span style="display:inline;">ye@r</span> <span style="display:none;">day</span></strong> <span class="required">*</span>
	<input type="hidden" name="anti-bot-a" id="anti-bot-a" value="{$smarty.now|date_format:"%Y"}" />
	<input type="text" name="anti-bot-q" id="anti-bot-q" size="30" value="19" />
</div>
<div class="form-anti-bot-2" style="display:none;">
	<strong>Leave this field empty</strong> <span class="required">*</span>
	<input type="text" name="anti-bot-e-email-url" id="anti-bot-e-email-url" size="30" value=""/>
</div>
<!-- /форма -->

</div>
</div>

<div class="clear"></div>
<div class="navigation">
<span class="right">{$BUTTON_SUBMIT}</span>
{$BUTTON_BACK}
</div>
<div class="clear"></div>

<br />
{if $smarty.const.DISPLAY_PRIVACY_TEXT == 'true'}
<div>
{$smarty.const.PRIVACY_TEXT}
</div>
{/if}

{$FORM_END}
{/if}